.header {
    border-bottom: 2px solid var(--second-backrgound-color);
  }
  
  .page-header {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0px;
    outline: 1px solid tomato;
  }
  
  .main-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .logo-header {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
  
    color: var(--primary-text-color);
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
  }
  
  .logo-web {
    color: var(--accent-color);
  }
  
  .site-nav-header {
    display: flex;
    flex-wrap: wrap;
  
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .site-nav-header .item:not(:last-child) {
    margin-right: 50px;
  }
  
  .site-nav .link {
    position: relative;
    display: block;
    margin: 0;
    padding-top: 24px;
    padding-bottom: 24px;
  
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    cursor: pointer;
  
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .site-nav .link:hover,
  .site-nav .link:focus {
    color: var(--accent-color);
  }
  
  .site-nav .link.current::after {
    position: absolute;
    left: 0;
    bottom: 0px;
    content: "";
    display: block;
    width: 100%;
    height: 5px;
  
    background-color: var(--accent-color);
    border-radius: 2px;
    transform: translateY(7px);
  
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .site-nav .link.current {
    color: var(--accent-color);
  }
  
  .site-nav .link.current::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 5px;
  
    background-color: var(--accent-color);
    border-radius: 2px;
    opacity: 1;
  }
  
  .nav-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  
  .contacts-ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contacts-li {
    display: flex;
    align-items: center;
    margin-left: 0;
    color: var(--second-text-color);
    text-decoration: none;
  }
  
  .contacts-ul .contacts-li:not(:last-child) {
    margin-right: 30px;
  }
  
  .nav-contacts-tel {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--second-text-color);
    text-decoration: none;
  
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .nav-contacts-tel:hover,
  .nav-contacts-tel:focus {
    color: var(--accent-color);
  }
  
  .icon-mail {
    margin-right: 10px;
    fill: currentColor;
  
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .icon-mail:hover {
    fill: var(--accent-color);
  }
  
  .nav-contacts-phone .nav-contact-icon-phone {
    width: 10px;
    height: 16px;
    margin-left: 0px;
    margin-right: 10px;
    fill: var(--second-text-color);
  
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .nav-contacts-phone:hover .nav-contact-icon-phone,
  .nav-contacts-phone:focus .nav-contact-icon-phone {
    fill: var(--accent-color);
  }
  
  .nav-contacts .contacts:not(:last-child) {
    margin-right: 50px;
  }
  
  .contacts {
    padding-top: 24px;
    padding-bottom: 24px;
  
    color: var(--second-text-color);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
  
    transition-property: fcolor;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .contacts:hover,
  .contacts:focus {
    color: var(--accent-color);
  }
  